{% extends 'back.html.twig' %}

{% block title %}Editer un Reacute;alisateur{% endblock %}
{% block ctitle %}Edition Reacute;alisateur {%endblock%}

{% block content %}

    {{ include('producer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('producer_index') }}">back to list</a>

    {{ include('producer/_delete_form.html.twig') }}
{% endblock %}
