<form method="post" action="{{ path('actor_delete', {'actor_id': actor.actorid}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer l'auteur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actor.actorid) }}">
    <button class="btn">Delete</button>
</form>
