{% extends 'back.html.twig' %}

{% block title %}Cr&eacute;ation d'Acteur{% endblock %}
{% block ctitle %}Nouveau Acteur{%endblock%}

{% block header %}Acteur{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{path('actor_index')}}">Acteur</a></li>
    <li class="breadcrumb-item active">Créer un acteur</li>
{% endblock %}

{% block content %}

    {{ include('actor/_form.html.twig') }}

    <a href="{{ path('actor_index') }}">Retour</a>
{% endblock %}

{% block script %}
 {{parent()}}
 <script>
 $(function () {
     $('#acteur').addClass('active');
 });

 </script>
{% endblock %}
