<form method="post" action="{{ path('product_delete', {'product_id': product.product_id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.product_id) }}">
    <button class="btn">Delete</button>
</form>
