{% extends 'back.html.twig' %}

{% block title %}Cr&eacute;ation d'un utilisateur{% endblock %}
{% block ctitle %}Nouveau Utilisateur {%endblock%}


{% block header %}Utilisateur{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{path('user_index')}}">Utilisateurs</a></li>
    <li class="breadcrumb-item active">Créer un utilisateur</li>
{% endblock %}

{% block content %}
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Retour</a>
{% endblock %}

{% block script %}
 {{parent()}}
 <script>
 $(function () {
     $('#utilisateur').addClass('active');
 });

 </script>
{% endblock %}
